.navbar-brand {
    display: flex;
    align-items: center; 
}

.navbar-logo {
    width: 20px; 
    height: left; 
    margin-right: 10px; 
    position: right;
}

.post {
    border: 5px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center; 
    height: auto;
}

.post img {
    max-width: 100%;
    height: auto;
    width: 600px; 
    margin: 0 auto; 
}

.post-footer {
    padding: 10px;
    border-top: 5px solid #ddd;
}

.likes-count {
    font-weight: bold;
}

.btn-light {
    border: #ddd;
    background-color: #f8f9fa;
}

.btn-light i {
    margin-right: 5px;
    color: #000; 
    font-size: 1.2rem; 
}


.navbar .d-flex {
    flex: 1;
    justify-content: flex-end; 
}

button1{
    width: right;
}
